@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth !important;
  }
  body {
    @apply font-lexend;
    @apply text-black;
    @apply text-[16px] mobile:text-[18px] tablet:text-[19px];
    @apply leading-[1.5];
    @apply tracking-[0.01em];
    @apply font-[300];
    @apply overflow-x-hidden;
    @apply bg-white;
  }
  ::selection {
    @apply bg-purple-400;
    @apply text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-frank;
    @apply font-[700];
  }
  h1 {
    @apply desktop:text-[3.5rem] tablet:text-[2.5rem] text-[2rem] leading-tight;
  }
  h2 {
    @apply desktop:text-[2.75rem] tablet:text-[2rem] text-[1.75rem] leading-tight;
  }
  h3 {
    @apply desktop:text-[2.5rem] tablet:text-[1.75rem] text-[1.5rem] leading-tight;
  }
  h4,
  h5,
  h6 {
    @apply desktop:text-[1.75rem] tablet:text-[1.5rem] text-[1.25rem] leading-tight;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-purple-400 via-purple-800 to-blue-800;
  }
  .main-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .dark-gradient {
    @apply bg-gradient-to-r from-purple-400 to-purple-800;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-1 {
    flex: 1;
  }
}
body {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Lenis recommended CSS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
